.wrap {
    width: 660px;
    height: auto;
    margin: 60px auto;
    background-color: #C4C4C4;
    font-family: 'Roboto';
    font-weight: 400;
    padding: 40px 0;
}

.search {
    width: 500px;
    height: 60px;
    margin: 0 80px;
    padding-left: 10px;
    font-size: 48px;
}
.result-list {
    margin-top: 30px;
    margin-left: 0;
    padding: 0;
}

.result-list__item {
    list-style: none;
    width: 500px;
    height: 100px;
    border: 1px solid black;
    background-color: #E27BEB;
    margin: 0 80px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-block {
    padding-top: 60px;
    margin: 0;
}

.list {
    margin: 0;
    padding: 0;
    min-height: 240px;
}

.list__item {
    list-style: none;
    width: 500px;
    height: 44px;

    margin: 0 80px;
    padding-left: 10px;

    border: 2px solid black;
    background-color: #E3E3E3;
    font-size: 30px;
}

.list__item:hover {
    cursor: pointer;
    background-color: #65CDF9;
}

.info-list {
    margin: 0;
    padding: 0;
}

.items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.close-button {
    width: 42px;
    height: 38px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    background: url(./close.png) repeat center center;
}

.close-button:hover {
    transform: scale(1.1);
}
